#div1 {
     overflow:scroll;
     height:200px;
     
}

.table{
  margin: 0 auto;
    
}

#div2 {
    overflow:scroll;
    height:300px;
    
}

#idafiliado{
    margin: 0 auto;
}
.titulo{
    background-color: deepskyblue;
}
.subtitulo{
    background-color: lightskyblue;
}
