<div class="contenedor">
    
    
    <section id="infoContent" class="infoContent">
        <div >
        <img src="./assets/image/fondobackground.jpg" class="imagen">
        </div>
        <div id="info1" class="info1">
           <div id="margen" class="margen">
           CONSULTAS ONLINE
           <hr/>
           
           <div>
               
            <img src="./assets/image/titulo-camdoctor.png" class="logo1">
           </div>
           
           <p>
            Disponible todos los dias de 8 a 24 horas. Para consultas de clínica médica y pediatría sobre 
            afecciones como resfríos, gripes, erupciones, y alergias entre otros.
           </p>

           <div class="boton-centrado">
               <div id="boton1" class="boton1">
                   MAS INFO
               </div>
            </div>

           </div>
        </div>

        <div id="info2" class="info2">
            <div id="margen" class="margen">
                INTERNACIONAL
                <hr/>
                <div>
                    <img src="./assets/image/avion.png" class="logo2">
                </div>                     
                   <p>
                   Durante sus viajes al exterior, tanto usted como su grupo familiar,
                   estaran cubiertos ante cualquier eventualidad, con la misma proteccion 
                   y seguridad de siempre.
                   </p>
                   <div class="boton-centrado">
                    <div id="boton2" class="boton2">
                        MAS INFO
                    </div>
                </div>
                
            </div>
        </div>

        <div id="info3" class="info3">
            <div id="margen" class="margen">
                ATENCION 24HS
                <hr/>
                <div>
                    <img src="./assets/image/24hs.png" class="logo3">
                </div>                     
                  <p>0800-333-0075</p> 
                    <p>
                       Las 24 horas todo el año, Emergencias, 
                       Urgencias y Consultas Medicas Domiciliarias. 
                   </p>
                   <div class="boton-centrado">
                    <div id="boton3" class="boton3">
                        MAS INFO
                    </div>
                </div>
                </div>
        </div>

        <div id="info4" class="info4">
            <div id="margen" class="margen">
                PLANES A TU MEDIDA
                <hr/>
                <div>
                    <img src="./assets/image/planes.png" class="logo4">
                </div>                     
                  <p>
                    Consultá a través de esta sección los prestadores y la cobertura específica 
                    de nuestros planes disponibles en tu zona de residencia. De manera eficiente y rapida.

                  </p>

                  <div class="boton-centrado">
                    <div id="boton4" class="boton4">
                        MAS INFO
                    </div>
                </div>
                </div>
        </div>

    </section>
</div>
