section{
    clear: both;
}

.contenedor{
    background-color: darkgrey;
    height: 1000px;
} 
section{
    clear: both;
}

.boton-centrado{
    position: relative;
    min-height: 150px;
}

.boton1{
    width: 100px;
    position: absolute;
    padding: 10px;
    left: 24%;
    background-color: black;
    color: ivory;
    }
    
    .boton2{
    width: 100px;
    position: absolute;
    padding: 10px;
    left: 24%;
    background-color: black;
    color: ivory;
    }
    
    .boton3{
    width: 100px;
    position: absolute;
    padding: 10px;
    left: 24%;
    background-color: black;
    color: ivory;
    }
    
    .boton4{
        width: 100px;
        position: absolute;
        padding: 10px;
        left: 24%;
        background-color: black;
        color: ivory;
    }

    .logo1{
        clear: both;
        height: 72px;
        width: 71px;
    }

    .logo2{
        clear: both;
        height: 72px;
        width: 71px;
    }

    .logo3{
        clear: both;
        height: 72px;
        width: 71px;
    }

    .logo4{
        clear: both;
        height: 72px;
        width: 71px;
    }

    .info1{    

        border-radius: 20px;
        width: 22.6%; 
        height: 400px;
        margin: 1%;
        float : left;
        background-color: lightgrey;
        
    }

    .info2{    
        border-radius: 20px;
        width: 22.6%; 
        height: 400px;
        margin: 1%;
        float : left;
        background-color: lightgrey;
    }

    .info3{    
        border-radius: 20px;
        width: 22.6%; 
        height: 400px;
        margin: 1%;
        float : left;
        background-color: lightgrey;
    }

    .info4{    
        border-radius: 20px;
        width: 22.6%; 
        height: 400px;
        margin: 1%;
        float : left;
        background-color: lightgrey;
    }

    .infoContent{
        padding-left: 20px;
    }

    .imagen{
        clear: both;
        height: 50%;
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .margen{
        margin: 20px;
        text-align: center;
    }