<div class="container mt-3">
    <form class="card" #servicioForm="ngForm">
      <div class="card-header text-center h3">Gesti&oacute;n de Servicios</div>
      <div class="card-body">
        
        <!-- Nombre -->
        <div class="row form-group">
          <label class="col-sm-12 col-md-4">Nombre</label>
          <input class="form-control col-sm-12 col-md-8" type="text" id="nombre" name="txtNombre" required
            minlength="3" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" #txtNombre="ngModel" [(ngModel)]="_servicio.nombre" />
          <div *ngIf="txtNombre.invalid && (txtNombre.dirty || txtNombre.touched)" class="alert alert-danger">
            <div *ngIf="txtNombre.errors.required">
              El campo Nombre es requerido
            </div>
            <div *ngIf="txtNombre.errors.minlength">
              Se necesitan 3 caracteres m&iacute;nimo
            </div>
            <div *ngIf="txtNombre.errors.pattern">
              Solo se admiten letras
            </div>
          </div>
        </div>
   
        <!-- Imagen -->
        <div class="row form-group">
          <label class="col-sm-12 col-md-4" for="">Imagen</label>
          <div class="col-sm-12 col-md-1">
            <img  src="{{ _servicio.imagen }}" alt="" width="50px" height="50px">          
          </div>
          <div class="col-sm-12 col-md-7">
          <input class="form-control col-sm-12 col-md-8" type="file" alife-file-to-base64
            (onFileChanged)="convertirArchivo($event)" name="txtImagen" required #txtImagen="ngModel"
            [(ngModel)]="_convertido" />
          </div>        
          
          <div *ngIf="txtImagen.invalid && (txtImagen.dirty || txtImagen.touched)" class="alert alert-danger">
            <div *ngIf="txtImagen.errors.required">
              El campo Imagen es requerido
            </div>
          </div>
        </div>
  
        <!-- Activo -->
        <div class="form-group row">
          <label class="col-sm-12 col-md-4" for="idoption">Activo</label>
          <input type="radio" class="form-control form-control-sm col-md-2" name="option" #option="ngModel" id="idoption"  [(ngModel)]="_servicio.activo" value="true" > Si
          <input type="radio" class="form-control form-control-sm col-md-2" name="option" #option="ngModel" id="idoption"  [(ngModel)]="_servicio.activo" value="false" > No
        </div>

        <!-- Afiliados -->
        <div class="form-group row">
          <label for="idafiliado" class="col-md-4">Afiliados</label>
             <select id="idafiliado" class="form-control form-control-sm col-md-8" required
             name="afiliado" #afiliado="ngModel"
             [(ngModel)] = "afiliadoaux">
             <option *ngFor="let afiliado of afiliados" [ngValue]="afiliado">{{afiliado.dni}}-{{afiliado.nombres}}</option>
             </select>
             <button class="btn btn-secondary ml-2 mr-2" (click)="agregarAfiliado(afiliadoaux)" ><i class="fas fa-brush"></i> Agregar Afiliado</button>
        </div>

       

        <!-- Afiliados del servicio -->
        <div class="form-group row">
          <label for="idlista" class="col-md-4">Afiliados del servicio</label>
             <select id="idlista" class="form-control form-control-sm col-md-8"
             name="lista">
             <option *ngFor="let af of _servicio.afiliadosInsc" [ngValue]="af">{{af.dni}}-{{af.nombres}}</option>
             </select>
        </div>

        <!-- Botones -->
        <div class="form-group text-center">
          <button class="btn btn-success ml-2 mr-2" [disabled]="!servicioForm.form.valid" (click)="agregarServicio()"><i class="fas fa-save fal"></i> Guardar</button>
          <button class="btn btn-secondary ml-2 mr-2" (click)="modificarServicio(_servicio)" ><i class="fas fa-save fal"></i> Modificar</button>            
          <button class="btn btn-secondary ml-2 mr-2" (click)="limpiarCampos()" ><i class="fas fa-brush"></i> Limpiar</button>
          
        </div>
      </div>
    </form>

    <form action="">
      
    </form>
  
    <h2 class="text-center mt-3">Informaci&oacute;n de Servicios</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre/s</th>
            <th>Imagen</th>
            <th>Activo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let _servicio of _servicios" >
            <th>{{ _servicio.nombre }}</th>
            <td><img src="{{ _servicio.imagen }}" alt="" width="50px" height="50px"></td>
            <td>{{ _servicio.activo }}</td>
            <td> 
              <button class="btn btn-primary" (click)="seleccionarServicio(_servicio)" >Seleccionar</button>          
              <button class="btn btn-danger" (click)="eliminarServicio(_servicio)" >Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>