<div class="bodyinicio">
  <!--========Cards========-->
  <div class="container-fluid main-cont">
      <div class="row news-row">
          <div class="container-fluid col-md-12 col-sm-6 justify-content-center news-block">
            <!--=Bloque se mostrara cuando no hay noticias==-->
            <div class="bg-dark text-white" *ngIf="_noticias.length == 0">
             
              <div class="content-all">
                <div class="content-carrousel">
                    <figure><img src="../../../assets/image/fondobackground.jpg"></figure>
                    <figure><img src="../../../assets/image/slider2.png"></figure>
                    <figure><img src="../../../assets/image/slider3.png"></figure>
                    <figure><img src="../../../assets/image/slider4.jpg"></figure>
                    <figure><img src="../../../assets/image/slider5.jpg"></figure>
                    
                </div>
            </div>
            </div>
            <!--=====Card(noticias)=====-->
             
              <div class="card-group ">
                <div class="underlay" *ngFor="let _noticia of _noticias">
                  <div class="card" *ngIf="_noticia.vigente">
                      <div class="card-img-top"><img [src]="_noticia.imagen" class="card-img-top" alt="..."></div>
                      <div class="card-block" >
                      <h5 class="card-title" style="font-family: 'Anton', sans-serif">{{_noticia.titulo}}<hr></h5>
                      <p class="card-text" >{{_noticia.descripcion}}</p>
                      <p class="card-text"><small class="text-muted">Publicado el: {{ _noticia.fecha | date:"dd/MM/yyyy HH:mm" }}hs.</small>
                      <br><small class="text-muted">Por: {{ _noticia.usuario.usuario }}</small>
                      </p>  
                    </div>
                  </div>
                </div>
              </div>
              
          </div>
      </div>
  </div>
  <!------------------------>
  <br><br>
  <br><br>
</div>