<div class="bodyinicio"> 
    <div class="content-all">
        <div class="content-carrousel">
            <figure><img src="../../../assets/image/fondobackground.jpg"></figure>
            <figure><img src="../../../assets/image/slider2.png"></figure>
            <figure><img src="../../../assets/image/slider3.png"></figure>
            <figure><img src="../../../assets/image/slider4.jpg"></figure>
            <figure><img src="../../../assets/image/slider5.jpg"></figure>
            
        </div>
    </div>
    <br><br>
    <br><br>
    <br><br>
    <br>
<div class="container">
    <div>
        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">FILOSOFIA</h5>
              <p class="card-text"> ¿Qué es la salud?

                Esta pregunta puede disparar debates interminables. Muchas veces, ni siquiera los académicos logran alcanzar una conceptualización homogénea. Hay tantas definiciones como personas podríamos decir. Pero entendemos, a partir del concepto desarrollado por la Organización Mundial de la Salud (OMS), que se trata de un estado de completo bienestar físico, mental y social.
    
                Sabemos que lograr un estado de perfecta armonía puede ser muy difícil, sobre todo en el contexto actual en el cual vivimos: corridas, obligaciones permanentes, poco descanso. Sin embargo, de algo estamos seguros: no se trata únicamente de prevenir y preservar el estado físico. Vos también sabés que lo mental, lo emocional y lo social juegan un rol determinante en tu estado de bienestar…o malestar. ¿No es cierto?
    
                Por ello, con esta brújula en mente, trabajamos día a día para brindarte servicios que cumplan con dicha premisa. Planteamos un verdadero sistema de salud integral.
    
                Y, entre otras propuestas que te acercamos, como invitarte a que disfrutes múltiples actividades a nivel nacional con importantes descuentos y promociones, también apoyamos al deporte en sus múltiples expresiones. Porque entendemos que muchos de los valores que a través del mismo se promueven, nos identifican: trabajo en equipo, vida sana, esfuerzo y pasión. Y hoy, estamos seguros que podemos crecer aún más; por ello, seguiremos incorporando el deporte a nuestra empresa, brindándoles apoyo y promoviendo sus actividades.
    
                Por eso, si nos preguntás a nosotros qué es salud, nosotros te contestamos: beneficios para que salgas a disfrutar, divertirte y relajarte, nutrición y deporte, esperando ayudarte a conseguir ese estado del cual nos habla la OMS.</p>
              
          </div>    
    </div>

    <div>
        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">HISTORIA</h5>
              <p class="card-text"> Nacimos con el objetivo de brindar tranquilidad mediante una eficiente organización de servicios, garantizando a nuestros asociados la mejor atención. Siempre. Para ello, centramos nuestros esfuerzos en establecer una cobertura con presencia nacional, fijando parámetros de calidad en todos nuestros servicios y realizando una adecuada administración de recursos humanos y económicos.

                Con el respaldo y la experiencia de ASE Nacional, reconocida obra social de personal de dirección, logramos posicionarnos, a través de nuestros planes de salud, como una compañía que se adapta a las necesidades individuales, familiares y empresariales.
    
                Hoy, nos ubicamos entre las principales empresas de medicina prepaga de la Argentina, y continuamos con esta importante etapa de crecimiento, contando con más de 60 sucursales en el país para atender a más de 300.000 asociados.</p>
              
            </div>
          </div>    
    </div>

    <div>
        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">VISIÓN</h5>
              <p class="card-text"> Ser la empresa de medicina prepaga de alcance nacional con los mejores servicios de salud, con el firme propósito de liderar el mercado, impulsada por un fuerte compromiso hacia la comunidad.</p>
              
            </div>
          </div>    
    </div>

    <div>
        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">MISIÓN</h5>
              <p class="card-text">Cuidar y mantener la salud de nuestros asociados, garantizando a través de nuestros planes y prestadores cobertura nacional y atención permanente, con servicios que superen sus expectativas. </p>
              
            </div>
          </div>    
    </div>
    <br><br>
</div>
</div>