<div class="container mt-3">
  <form class="card" #noticiaForm="ngForm" class="was-validated">
    <div class="card-header text-center h3">Gesti&oacute;n de Noticias</div>
    <div class="card-body">

      <!-- titulo -->
      <div class="form-group row">
        <label for="idtitulo" class="col-md-4">Titulo</label>
        <input id="idtitulo" class="form-control form-control-sm col-md-8" required type="text" name="titulo" #txtTitulo="ngModel" [(ngModel)]="_noticia.titulo"/>
        <div *ngIf="txtTitulo.invalid && (txtTitulo.dirty || txtTitulo.touched)" class="invalid-feedback">
          <div *ngIf="txtTitulo.errors.required">
            El campo Titulo es requerido
          </div>
        </div>								  		
      </div>

        <!-- descripcion -->
      <div class="form-group row">
        <label for="iddescripcion" class="col-md-4">Descripcion</label>
        <input id="iddescripcion" class="form-control form-control-sm col-md-8" required type="text" name="descripcion" #txtDescripcion="ngModel" [(ngModel)]="_noticia.descripcion"/>
        <div *ngIf="txtDescripcion.invalid && (txtDescripcion.dirty || txtDescripcion.touched)" class="invalid-feedback">
          <div *ngIf="txtDescripcion.errors.required">
            El campo Descripcion es requerido
          </div>
        </div>								  		
      </div>

        <!-- Fecha -->
      <div class="form-group row">
        <label for="idfecha" class="col-md-4">Fecha</label>
        <input id="idfecha" class="form-control form-control-sm col-md-8" required [min]="hoy"       
        type="datetime-local" name="fecha" #txtFecha="ngModel" [(ngModel)]="_noticia.fecha"/>
        <div *ngIf="txtFecha.invalid && (txtFecha.dirty || txtFecha.touched)" class="invalid-feedback">
          <div *ngIf="txtFecha.errors.required">
            El campo Fecha es requerido
          </div>
        </div>								  		
      </div>

      <!-- Imagen -->
      <div class="row form-group">
        <label class="col-sm-12 col-md-4" for="">Imagen</label>
        <input class="form-control col-sm-12 col-md-8" type="file" alife-file-to-base64 (onFileChanged)="convertirArchivo($event)" name="txtImagen" required #txtImagen="ngModel" [(ngModel)]="_convertido" accept="image/x-png,image/gif,image/jpeg" />
        <div *ngIf="txtImagen.invalid && (txtImagen.dirty || txtImagen.touched)" class="invalid-feedback">
          <div *ngIf="txtImagen.errors.required">
            El campo Imagen es requerido
          </div>
        </div>
        <div class="rounded mx-auto d-block mt-2" *ngIf="editMode">
          Imagen Actual  <img  src="{{ _noticia.imagen }}" alt="" width="50px" height="50px">
        </div>
      </div>

      <!-- Vigente -->
      <div class="form-group row">
        <label for="idvigente" class="col-md-4">Vigente</label>
        <input id="idvigente" class="form-control form-control-sm col-md-8" type="checkbox" name="vigente" [(ngModel)]="_noticia.vigente"/> 
      </div>  

      <!-- Botones -->
      <div class="form-group text-center">
        <button class="btn btn-success ml-2 mr-2" [disabled]="!noticiaForm.form.valid || editMode" (click)="agregarNoticia()"><i class="fas fa-save fal"></i> Guardar</button>
        <button class="btn btn-secondary ml-2 mr-2" [disabled]="!editMode" (click)="modificarNoticia()" ><i class="fas fa-save fal"></i> Modificar</button>            
        <button class="btn btn-secondary ml-2 mr-2" (click)="limpiarCampos()" ><i class="fas fa-brush"></i> Limpiar</button>
      </div>
    </div>
  </form>
    
  <h2 class="mt-3">Listado de Noticias</h2>
  <!-- Tabla DATATABLE-->
  <table class="table table-striped" [mfData]="_noticias" #mf="mfDataTable" [mfRowsOnPage]="4">
    <thead>
      <tr>
        <th><mfDefaultSorter by="titulo">Titulo</mfDefaultSorter></th>
        <th  style="width: 10%"><mfDefaultSorter by="descripcion">Descripcion</mfDefaultSorter></th>
        <th>Fb</th>
        <th><mfDefaultSorter by="fecha">Fecha</mfDefaultSorter></th>
        <th><mfDefaultSorter by="usuario">Usuario</mfDefaultSorter></th>
        <th>Imagen</th>
        <th><mfDefaultSorter by="vigente">Vigente</mfDefaultSorter></th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let _noticia of mf.data" >
        <td>{{ _noticia.titulo }}</td>
        <td>{{ _noticia.descripcion }}</td>
        <td ><button class="btn btn-primary" [disabled]="!_noticia.vigente" (click)="postFb(_noticia)"><i tooltip="postear noticia en facebook" class="fab fa-facebook-square"></i></button></td>
        <td>{{ _noticia.fecha | date:'dd/MM/yyyy HH:mm'}}</td>
        <td>{{ _noticia.usuario.usuario }}</td>
        <td><img src="{{ _noticia.imagen }}" alt="" width="50px" height="50px"></td>
        <td><input type="checkbox" [checked]="_noticia.vigente" onclick="return false;"/> </td>
        <td> 
          <button class="btn btn-primary" (click)="seleccionarNoticia(_noticia)" >Seleccionar</button>          
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarModal" (click)="auxiliarNoticia(_noticia)"><i class="far fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>     
      <tr>         
        <td colspan="4">             
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>         
        </td>     
        </tr>     
    </tfoot>
  </table>
  <!-- Modal Eliminar-->
  <div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="eliminarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eliminarModalLabel">¿Desea eliminar esta noticia?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6><b><u>Titulo:</u></b> {{ _auxNoticia.titulo }}</h6>
          <h6><b><u>Descripción:</u></b> {{ _auxNoticia.descripcion }}</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="eliminarNoticia(_auxNoticia)" >Si</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>