<div class="fondoestilo">

<div class="container col-5">
    <br>
    <div class="card mb-3" style="max-width: 440px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="./assets/image/icono-asociado.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              
              <p class="card-text">0800 333 2700 - Centro de servicios al cliente, las 24hs.</p>
              
            </div>
          </div>
        </div>
      </div>
     <br>
     <div class="card mb-3" style="max-width: 440px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="./assets/image/icono_emergencias.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">0800 333 0075 - Urgencias y Emergencias en todo el país las 24hs</p>
              
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="card mb-3" style="max-width: 440px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="./assets/image/icono_centro-autorizaciones.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              
              <p class="card-text">0800 999 9000 - Centro de Autorizaciones <br>
                CABA, todos los días las 24hs. <br>
                Desde el resto del país,lunes a viernes de 8 a 20hs y sábados de 8 a 12hs. <br></p>
              
            </div>
          </div>
        </div>
      </div>

</div>
</div>
    
