<div>
    <br><br>
    <div class="row">
        <div class="align-content-left col-md-2">
        <img src="./assets/image/icono-asociado.jpg" class="logo2">
        </div>
        <div class="col-md-10">            
            0800 333 2700 - Centro de servicios al cliente, las 24hs.    
        </div>
    </div>
    <br>
    <div class="row">
        <div class="align-content-left col-md-2">
            <img src="./assets/image/icono_emergencias.jpg" class="logo2">
        </div>
        <div class="col-md-10">            
            0800 333 0075 - Urgencias y Emergencias en todo el país las 24hs
        </div>
    </div>
    <br>
    <div class="row">
        
        <div class="align-content-left col-md-2">
            <img src="./assets/image/icono_centro-autorizaciones.jpg" class="logo2">
        </div>
        <div class="col-md-10">            
            0800 999 9000 - Centro de Autorizaciones <br>
            CABA, todos los días las 24hs. <br>
            Desde el resto del país, lunes a viernes de 8 a 20hs y sábados de 8 a 12hs. <br>
        </div>
    </div>
    <br><br>
</div>