<footer class="text-center bg-dark text-white">
  <div class="text-center bg-info text-white">
    Nuestras Redes:
  </div>
  <div>
    Desarrollares del Proyecto Obra Social
    <div class="row">
      <div class="col-md-3">
        <p>Mamani, Yesica Jaquelina Gretel</p>      
      </div>
      <div class="col-md-3">
        <p>Toconas, Gaston Enzo</p>    
      </div>

      <div class="col-md-3">
        <p>Soto, Sofia Alejandra</p>
      </div>
      
      <div class="col-md-3">      
        <p>Said, Lilia Yazmin </p>
      </div>
    </div>
  </div>
</footer>