<footer class="text-center bg-dark text-white mt-3">
  <div class="text-center bg-info text-white">
                 <a href="https://www.facebook.com/Pagina-de-prueba-110749894034738"><img src="./assets/image/face.png"/></a>
                 <a href=""><img src="./assets/image/insta.png"/></a>
                 <a href=""><img src="./assets/image/twitter.png"/></a>
  </div>
  <div>
   <p>Desarrolladores del Proyecto Obra Social</p>
    <div class="row">
      <div class="col-md-3">
        <p>Mamani, Yesica Jaquelina Gretel</p>      
      </div>
      <div class="col-md-3">
        <p>Toconas, Gaston Enzo</p>    
      </div>

      <div class="col-md-3">
        <p>Soto, Sofia Alejandra</p>
      </div>
      
      <div class="col-md-3">      
        <p>Said, Lilia Yazmin </p>
      </div>
    </div>
  </div>
</footer>